#botao-fechar{
  padding-right: 10px;
  font-size: 4em;
}

#dialog {
  width: 70%;
  height: 95%;
  padding: 0;
  overflow: hidden;
}

#content {
  height: 85%;
  border-radius: 0;
}

.img-modal{
  margin-top: 4em;
  width: 100%;
}

@media all and (max-width: 992px) {
  #dialog {
	  width: 90%;
	  height: 95%;
	}
}

@media all and (max-width: 768px) {
 	#dialog {
	  height: auto;
	} 
}
