/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.menu {
  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 0px;
}

#navMain {
  margin-top: 10px;
}

.opaque-navbar {
    background-color: rgba(0,0,0,0);

  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    border-bottom: 0px;
    transition-duration: 1s;
    background: transparent none repeat scroll 0% 0%;
}

.opaque-navbar2 {
  background: rgba(81,168,177,0.97) none repeat scroll 0% 0%;
    -webkit-box-shadow: 0 4px 4px -2px #222;
    -moz-box-shadow: 0 4px 4px -2px #222;
        box-shadow: 0 4px 4px -2px #222;
    border-bottom: 0px;
}

.opaque-navbar.opaque {
    background: rgba(81,168,177,0.97) none repeat scroll 0% 0%;
    -webkit-box-shadow: 0 4px 4px -2px #222;
    -moz-box-shadow: 0 4px 4px -2px #222;
        box-shadow: 0 4px 4px -2px #222;
}

ul.dropdown-menu {
    background-color: black;
}

.navbar-transparente .navbar-nav>li>a {
  color: #fff;
  font-size: 1.2em;
  border-bottom: solid white 0px;
  padding-bottom: 8px;
}

.navbar-transparente .navbar-nav>li>a:hover {
  transition: 0.1s;
  border-bottom: solid white 3px;
  background-color: transparent;
}

.navbar-transparente .navbar-nav>li>a:focus {
  background-color: transparent;
  border-bottom: solid white 3px;
}

.more {
  font-size: 36px;
  transition: 0.5s;
}

.more:hover {
  transition: 0.5s;
  color: rgb(81,168,177);
  text-decoration: none;
}

.bigger {
  font-size: 22px;
  top: -2px;
}

.marginTop {
  margin-top: 140px;
}

.container.lessPad {
  padding: 20px;
}

.row.border {
  margin-top: 20px;
}

#pLogo {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.resolucao{
  max-height: 30%;
}

.pull-left {
  margin-left: 50%;
}

img.foto {
  height: 250px;
}

.caption.foto {
  padding: 0;
  padding-top: 10px;
}

body {
  background-color: #f4f4f4;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-img {
  width: 80px;
  margin-top: 0px;
}

div#cidades.container {
  position: relative;
  z-index: 1;
  margin-top: -250px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #888888;  
}

.cidadesHome {
  border-bottom: 2px solid #d4d4d4;
  padding-bottom: 10px;
  color: #FF6C3B;
  margin-bottom: 30px;
}

div#cidades.container {
  padding: 30px 60px 50px 60px;
  margin-bottom: 70px;
}

div#listCidades.row > div > a {
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  border-bottom: 1px solid #d4d4d4;
  transition-duration: 200ms;
}

div#listCidades.row > div > a > span {
  padding-bottom: 30px;
}

div#listCidades.row > div > a:hover {
  color: #FF6C3B;
  box-shadow: 0 -3px 0 0 #FF6C3B inset;
  border-bottom: 1px solid #FF6C3B;
} 

.noticias {
  clear: both;
  padding-top: 15px;
}

.noticia {
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 5px #888888;
  height: 300px;
  transition: all 0.5s ease 0s;
}

.noticia.bigNoticia {
  height: 500px;
  margin-bottom: 50px;
}

.noticia:hover {
  transform: scale(1.05);
  z-index: 10;
  transition-duration: 500ms;
}

.divNoticia {
  margin-bottom: 20px;
}

.divNoticia.p {
  padding-right: 0;
  padding-left: 0;
}

.noticiasHome {
  color: #FF6C3B;
}

.marginTop.noticiasHome.inverse.more {
  color: #51A8B1;
}

.noticia.prop.large {
  height: 80px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.noticia_title {
  font-weight: bold;
  font-size: 15px;
  color: #444;
  padding: 15px 10px 10px 10px;
  margin-bottom: 5px;
}

.noticia_title.bigTitle {
  font-size: 20px;
  padding: 30px 10px 10px 20px;
}

.noticia_foto:hover {
  text-decoration: none;
}

.border {
  /*border-top: 2px solid #d4d4d4;*/
  padding-top: 30px;
}

.noticia.prop {
  height: 400px;
}

.noticia.prop:hover {
  transform: none;
}

.imgconfig{
  width: 120px;
  margin-right: 80px;
}

.container{
  padding: 25px;
}

.noticia.agenda{
  padding-bottom: 0px;
}

.noticiasMain {
  margin-top: 120px;
}

.noticiasMain.lessTop {
  margin-top: 50px;
}

.noticiaCorpo {
  padding-left: 15px;
  padding-right: 15px;
}

.noticiaCorpo > p > span {
  font-size: 18px !important;
}

.jumbotron.leiaTb {
  padding: 20px;
}

.jumbotron.leiaTb > div:hover {
  text-decoration: underline;
}

.videoCidadades{
      position: fixed; 
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto; 
      z-index: -1000;
      background-size: cover; 
      
}

.filtro::before {
    background-color: rgba(028, 028, 028, 0.8);
    background-image: radial-gradient(gray 2%, transparent 20%);
    background-position: 0 0px, 1.5px 1.5px;
    background-size: 3px 3px;
    background-position: 0 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }


@media screen and (min-width: 1360px) {
  .noticia.prop.large {
    height: 95px;
  }
}

@media screen and (max-width: 1400px) {
  .noticia_title {
    font-size: 12px;
  }

  div#cidades.container {
    margin-top: -220px;
  }

  img.foto {
    height: 180px;
  }

  .noticia {
    height: 250px;
    padding-bottom: 20px;
  }

  .noticia.bigNoticia {
    height: 430px;
  }

  .noticia.prop {
    height: 330px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1200px){
  .noticia {
    width: 80%;
    margin-left: 10%;
  } 

  .noticia.bigNoticia {
    height: 250px;
    margin-bottom: 0;
  }

  .noticia_title.bigTitle {
    font-size: 12px;
    padding: 15px 10px 10px 10px;
  }

  .noticia.prop {
    height: 400px;
  }

  .noticia.agenda {
    height: 220px;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 992px){
  .noticia {
    width: 100%;
    margin-left: 0;
  } 

  .noticia.prop {
    width: 90%;
    margin-left: 5%;
  }

  .noticia.prop.large {
    width: 100%;
    margin-left: 0;
  }

  .noticiaCorpo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px){
  .nav-up {
    top: -132px;
  }

  .noticia.prop.large {
   visibility: hidden;
   height: 0;
   margin-top: -50px;
  }

  .noticia {
    width: 70%;
    margin-left: 15%;
  }

  .noticia.prop {
    width: 70%;
    margin-left: 15%;
  }

  .noticia.agenda {
    width: 70%;
    margin-left: 15%;
  }

  div#s1.is {
    display: none;
  }

  #prop {
      padding-left: 0px;
    }

  div#myCarousel.carousel.slide {
    display: none;
  }

  div#cidades.container {
    display: block;
    margin-top: 120px;
    padding: 10px 30px 30px 30px;
  }

  #pLogo {
    width: 70px;
    height: 70px;
  }

  div#myCarousel.carousel.slide {
    margin-top: 80px;
  }

  #navMain {
    background-color: #51A8B1;
    padding: 35px;
    padding-top: 20px;
  }

  .opaque-navbar {
    background-color: #51A8B1;
    border-bottom: 0px;
    transition-duration: 1s;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

  .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: 0px;
  }

  .navbar-collapse {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    overflow-x: visible;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    box-shadow: inset 0 1px 0 #fff;

  }

  .navbar-img {
    width: 80px;
    margin-top: 0px;
  }

  .navbar-form {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: none;
    margin: 2px -33px;
    padding: 10px 15px;
    box-sizing: inherit;
  }

  .imgconfig{
    width: 120px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px){
  .noticia {
    width: 100%;
    margin-left: 0%;
  }

  .noticia.prop {
    width: 90%;
    margin-left: 5%;
  }

  /*.noticia.prop.large {
    display: none;
  }*/
}

@media screen and (max-width: 360px){
  #pLogo {
    width: 50px;
    height: 50px;
  }

  .noticia.prop {
    height: 80%;
  }

  .noticia.agenda {
    height: 150px;
  }
	
	.noticia.agenda.boas {
    height: 170px;
  }
}

/* css do footer */
#foot {
  background-color: #FF6C3B;
  padding: 50px 0 10px 0;
}

#footerRow {
  color: #eee;
  border-top: solid 2px;
  padding-top: 15px;
}
